{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
{% if messageGateExcercise == True %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong id = "wrongExcerciseMessage">Please enter an excercise</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

{% endif %}
<h3>What excercise do you want to delete</h3>
<form method="POST" action="/delete">
    <div class="form-group row">
      <label for="Excercise" class="col-sm-2 col-form-label ">Excercise</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ExcerciseInput" name="Excercise" placeholder="Enter the Excercise">
      </div>
    </div>

    <div class ="form" id="delete-button">
        <button class="btn btn-custom" type="submit" id="AddButton" >Delete from Database </button>
    </div>
</form>

{% endblock %}