{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID#</th>
        <th scope="col">Excercise</th>
        <th scope="col">Weight (LB)</th>
        <th scope="col">Rep-Range</th>
        <th scope="col">RPE3</th>
        <th scope="col">RPE2</th>
        <th scope="col">RPE1</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(length)%}
        <tr>
            <th scope="row">{{lift[i][0]}}</th>
            <td>{{lift[i][1]}}</td>
            <td>{{lift[i][2]}}</td>
            <td>{{lift[i][3]}}</td>
            <td>{{lift[i][4]}}</td>
            <td>{{lift[i][5]}}</td>
            <td>{{lift[i][6]}}</td>
        </tr>
      {%endfor%}
    </tbody>
  </table>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      modify
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/delete">Delete</a>
      <a class="dropdown-item" href="/update">Update</a>
    </div>
  </div>
{% endblock %}