{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
{% if messageGateExcercise == True %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong id = "wrongExcerciseMessage">Please enter an excercise</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if messageGateUpdate == True %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong id = "wrongExcerciseMessage">Please enter at least one field to update</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<form method="POST" action="/update">
    <div class="form-group row">
      <label for="Excercise" class="col-sm-2 col-form-label ">Excercise</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ExcerciseInput" name="Excercise" placeholder="Enter the Excercise to Update">
      </div>
    </div>
    <h3>Enter the updated fields</h3>
    <div class="form-group row">
      <label for="Weight" class="col-sm-2 col-form-label">Weight</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="WeightInput" name="Weight" placeholder="Enter the Weight (lB)">
      </div>
    </div>
    <div class="form-group row">
        <label for="Rep-Range" class="col-sm-2 col-form-label">Reps</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="RepInput" name="Rep-Range" placeholder="Enter the Rep Range(MIN-MAX)">
        </div>
      </div>
    <div class="form-group row">
      <label for="RPE" class="col-sm-2 col-form-label ">RPE</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="RPE3Input" name="RPE3" placeholder="RPE3">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="RPE2Input" name="RPE2" placeholder="RPE2">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="RPE1Input" name="RPE1" placeholder="RPE1">
      </div>
    
    <div class ="form" >
        <button class="btn btn-primary" type="submit" id="AddButton" >Add to DB </button>
    </div>
</form>
{% endblock %}